<!DOCTYPE html>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
  </style>
<div>
  <!-- Header -->
   <img src="./images/Header.png" style="width: 100%;"/>
   <img src="./images/Beryllium_Icon.png" style="width: 22%; position:absolute; top: 26.5vw; right: 6% ;" />
   <div style='font-family: "PT Sans Narrow", monospace; font-weight: 700; color: #4d7af4; font-size: 6vw; max-width: 70%; margin: 3vw 5%'>
    ESTIMADO [EMPRESA]
   </div>
   <div style='font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto; font-weight:bold; margin: 0 5%; text-align: center; font-size: 1.55vw'>
    Es un placer presentarles a Beryllium Development Company, una empresa especializada en desarrollo de software a medida, seguridad informática e infraestructura tecnológica. Nuestro propósito es brindar soluciones innovadoras que optimicen la gestión, refuercen la seguridad de la información y mejoren la eficiencia operativa de organizaciones como la suya.
   </div>
   <div style="display:flex; justify-content: center; align-items: center; margin: 2% 0">
     <img src="./images/_Services_Button_.png" style="width: 50%;"/>
   </div>
  <!-- Body -->
   <div style="display: flex; justify-content: center; align-items: center; margin: 2% 0">
      <img src="./images/Body.png" style="width: 90%">
   </div>
   <div style='font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto; font-weight:bold; margin: 2% 5%; text-align: center; font-size: 1.55vw'>
   Adjuntamos nuestro <span style="color:#4d7af4">brochure corporativo</span> , donde encontrarán más detalles sobre nuestra experiencia y soluciones. Nos gustaría coordinar una reunión para explorar posibles oportunidades de colaboración. <br />
   Quedamos atentos a su confirmación y agradecemos su tiempo e interés.
   </div>
   <a href="https://drive.google.com/file/d/1Gba-aaVUsFkg16B2y3-E4F78nJEr_05W/view?usp=sharing" style="display:flex; justify-content: center; align-items: center; margin: 2% 5%">
      <img src="./images/_Button_.png" style="width: 30%"/>
   </a>
  <!-- Footer -->
   <div style="background-color: #000000; width: 100%; color: #fff; padding: 4% 5%">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
   </div>
</div>